$sky: #4D8FAC;
$ultramarine: #5D8CAE;
$picton-blue-bright: #22A7F0;
$dodger-blue: #19B5FE;
$picton-blue: #59ABE3;
$light-blue: #48929B;
$thousand-herb: #317589;
$jordy-blue: #89C4F4;
$stell-blue: #4B77BE;
$lapis-lazuli: #1F4788;
$navy-blue: #003171;
$hanada: #044F67;
$indigo: #264348;