$siskin-sprout-yellow: #7A942E;
$young-green-onion: #8DB255;
$fresh-onion: #5B8930;
$young-bamboo: #6B9362;
$patina: #407A52;
$green-bamboo: #006442;
$gossip: #87D37C;
$eucalyptus: #26A65B;
$jungle-bright-green: #26C281;
$observatory: #049372;
$jungle-green: #2ABB9B;
$mountain-meadow: #16A085;
$turquoise: #36D7B7;
$free-speech-aquamarine: #03A678;
$ocean-green: #4DAF7C;