$one-kin-dye: #F08F90;
$peach-colored: #F47983;
$red-plum-colored: #DB5A6B;
$medium-crimson: #C93756;
$cherry-blossom: #FCC9B9;
$washed-out-crimson: #FFB3A7;
$radical-red: #F62459;
$ibis-wing: #F58F84;