$wisteria-purple: #875F9A;
$bellflower: #5D3F6A;
$wisteria: #89729E;
$iris: #763568;
$tatarian-aster: #8D608C;
$thin: #A87CA0;
$violet: #5B3256;
$medium-purple: #BF55EC;
$studio: #8E44AD;
$wisteria: #9B59B6;
$light-wisteria: #BE90D4;