$foreign-crimson: #C91F37;
$red-orange: #DC3023;
$cochineal-red: #9D2933;
$monza: #CF000F;
$brewed-mustard-brown: #E68364;
$pomegranate: #F22613;
$scarlet: #CF3A24;
$pure-crimson: #C3272B;
$true-red: #8F1D21;
$chestnut-rose: #D24D57;