$patrinia-flowers: #D9B611;
$amur-cork-tree: #F3C13A;
$ripe-lemon: #F7CA18;
$japanese-triandra-grass: #E2B13C;
$rapeseed-oil-colored: #A17917;
$cream-can: #F5D76E;
$saffron: #F4D03F;
$bright-golden: #FFA400;
$sumac-dyed: #E08A1E;
$gamboge: #FFB61E;
$corn-colored: #FAA945;
$egg-colored: #FFA631;
$floral-leaf-colored: #FFB94E;
$golden-fallen-leaves: #E29C45;
$ecstasy: #F9690E;
$amber: #CA6924;
$lighting: #F5AB35;